<h1>{{ contenttype.getName() }} overview</h1>
<table>
	{% for content in contents %}
	<tr>
		<td>
			<h2>{{ content.title }}</h2>
			<p>
				{{ content.body|raw }}
			</p>
		</td>
	</tr>
	{% endfor %}
</table>
