{% include 'layouts/_header_basic' %}
<h1 style="font-size: 100px; text-align: center;">404</h1>
<center>
    De door u opgevraagde pagina kan helaas niet worden gevonden.
</center>
{% include 'layouts/_footer' %}
