<div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
    <input type="number"
        name="{{ key }}"
        value="{{ value }}"
        class="form-control">

    {% for error in errors %}
    <span class="help-block">{{ __(error) }}</span>
    {% endfor %}
</div>
