<div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
    <input
        name="{{ key }}"
        value="{{ value }}"
        class="input-sm input-s datepicker-input form-control"
        size="16"
        type="text"
        value="2013-12-02"
        data-date-format="yyyy-mm-dd">

    {% for error in errors %}
    <span class="help-block">{{ __(error) }}</span>
    {% endfor %}
</div>
