{% for field in contentType.getFields %}
<div class="form-group">
	<label class="control-label col-sm-2" style="font-weight: bold">{{ field.getOption('label') }}</label>
	<div class="col-sm-10">
		{{ field.getViewForForm(content)|raw }}<br>
	</div>
</div>
<div class="line line-dashed line-lg pull-in"></div>
{% endfor %}
