            </section>
          </section>
        </section>
      </section>
    </section>
    <script src="https://ucarecdn.com/widget/1.2.3/uploadcare/uploadcare-1.2.3.min.js"></script>
    <script src="/js/admin.js"></script>
    <script>
        L.Icon.Default.imagePath = leaflet_path;
        moment.lang('{{ app.locale|default('en') }}');
    </script>
    <!--[if lt IE 9]>
      <script src="js/ie/respond.min.js" cache="false"></script>
      <script src="js/ie/html5.js" cache="false"></script>
      <script src="js/ie/fix.js" cache="false"></script>
    <![endif]-->
  </body>
</html>
